html,
body {
	font-family: sans-serif;
	background: #222;
	color: #fff;
	font-size: 14px;
	width: 100%;
	padding: 0;
	margin: 0;
	line-height: 1.66;
	-webkit-user-select: none;
}

#channels {
	width: 100%em;
	top: 0;
	left: 0;
	background: #333;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
}

#channels ul {
	font-size: 16px;
	margin: 0;
	padding: 0;
	list-style: none;
}

#channels ul li {
	position: relative;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	font-weight: bold;
	text-shadow: 0 0 3px #000;  
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #111;
}

#channels ul li .channel-name {
	display: block;
	padding: 0.7em 1em;
	overflow: hidden;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0.2);
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
}

#channels ul li .unread {
	position: absolute;
	right: 1em;
	bottom: 1em;
	font-size: 80%;
	z-index: 3;
	width: 3em;
	overflow: hidden;
	padding: 0.3em 0 0.2em 0;
	background: #222;
	text-align: center;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

#log {
	overflow: hidden;
	padding: 4em 0.5em 0.5em 1em;
	background: #f6f6f6;
	color: #000;
	z-index: 3;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
}

#log span.fg47 {
	color: #666;
}

#log span.fg49 {
	color: #393;
}

#log span.fg56 {
	color: #ffcc00;
}

#log span.bg48 {
}

#log span.bold {
	font-weight: bold;
}

#log .message {
	position: relative;
	padding: 0.5em;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #eee;
}

#log .message.notice {
	font-size: 90%;
	color: #333;
}

#log .message .nick {
	font-weight: bold;
}

#log .message .meta {
	position: absolute;
	right: 0;
	color: #999;
	font-size: 11px;
}

#log .message .meta time {
}

#log .message img {
	display: block;
	max-width: 100%;
}

#input {
	position: absolute;
	top: 0.5em;
	color: #000;
	width: 100%;
}

#input #input-title {
	display: none;
}

#input span.text {
	display: block;
	margin: 0 30px 0 0;
	padding: 5px;
}

#input span.text input {
	width: 100%;
	font-size: 18px;
}

#input input[type="submit"] {
	position: absolute;
	top: 0;
	right: 5px;
	width: 25px;
	height: 24px;
	margin: 7px 0;;
	padding: 0 5px;
	outline: none;
	border: 1px solid #000;
	background: #999;
	color: #fff;
	text-align: center;
	-webkit-appearance: none;
}

#input select.post {
	position: absolute;
	top: 0;
	right: 5px;
	width: 25px;
	height: 27px;
	margin: 7px 0;;
	padding: 0 5px;
	outline: none;
	border: 1px solid #000;
	background: #999;
	color: #fff;
	text-align: center;
	-webkit-appearance: none;
}


#loading ,
#nextpage {
	display: none;
	padding: 0.5em;
	cursor: pointer;
	font-weight: bold;
	text-align: center;
}

select.link {
	display: inline;
	font: inherit;
	width: 100%;
	max-width: 10em;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	background: none;
	color: #22f;
	text-decoration: underline;
	overflow: hidden;
	-webkit-appearance: none;
	-webkit-padding-start: 0;
	-webkit-text-overflow: ellipsis;
}
