::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}


html,
body {
	font-family: sans-serif;
	background: #222;
	color: #fff;
	font-size: 14px;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	line-height: 1.66;
	-webkit-user-select: none;
}

#whole {
	height: 100%;
	overflow: hidden;
	padding: 0.5em;
}

#input {
	position: absolute;
	bottom: 1em;
	right: 2em;
	left: 18em;
	z-index: 9;
	background: rgba(8%, 8%, 8%, 0.8);
	padding: 1em;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

#input #input-title {
	font-weight: bold;
}

#input #input-text {
	font-size: 17px;
	width: 80%;
}

#log {
	/* font-family: "Osaka-Mono", monospace */;
	position: absolute;
	overflow: auto;
	top: 0;
	right: 1em;
	left: 17em;
	bottom: 0;
	padding: 0.5em 0.5em 0.5em 1em;
	background: #f6f6f6;
	color: #000;
	-webkit-user-select: text;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 1);
	z-index: 3;
}

#log span.fg47 {
	color: #666;
}

#log span.fg49 {
	color: #393;
}

#log span.bg48 {
}

#log span.bold {
	font-weight: bold;
}

#log .message {
	position: relative;
	padding: 0.5em;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #eee;
}

#log .message .nick {
	font-weight: bold;
}

#log .message .meta {
	position: absolute;
	right: 0;
	color: #999;
	font-size: 11px;
}

#log .message .meta time {
}

#channels {
	margin: 0;
	padding: 0;
	width: 19em;
	position: absolute;
	overflow: auto;
	top: 0;
	left: 0;
	height: 100%;
	background: #333;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
}

#channels ul {
	font-size: 16px;
	margin: 0;
	padding: 0;
	list-style: none;
}

#channels ul li {
	position: relative;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	font-weight: bold;
	text-shadow: 0 0 3px #000;  
	padding: 0.7em 1em;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #111;
}

#channels ul li .unread {
	position: absolute;
	bottom: 1em;
	right: 3em;
	font-size: 80%;
	z-index: 3;
	background: #222;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	width: 3em;
	padding: 0.2em 0 0.2em 0;
	overflow: hidden;
	text-align: center;
}

#loading {
	position: absolute;
	top: 1em;
	right: 1em;
}

@media only screen and (max-device-width: 480px) {

}
