::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}


html,
body {
	background: #222;
	color: #fff;
	font-size: 10pt;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	line-height: 1.66;
	-webkit-user-select: none;
}

#whole {
	height: 100%;
	overflow: hidden;
	padding: 0.5em;
}

#input {
	position: absolute;
	bottom: 4em;
	left: 5em;
	z-index: 9;
	background: rgba(0, 0, 0, 0.8);
	padding: 1em;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#input input {
	font-size: 14pt;
	width: 45em;
}

#log {
	/* font-family: "Osaka-Mono", monospace */;
	position: absolute;
	overflow: auto;
	top: 0;
	right: 0;
	left: 17em;
	bottom: 0;
	padding: 0.5em 0.5em 0.5em 1em;
	background: #f6f6f6;
	color: #000;
	background:  -webkit-gradient(
		linear, left top, right top,
		from(#aaa),  
		color-stop(0.01, #f6f6f6),  
		color-stop(0.5, #ffffff),  
		color-stop(0.7, #f6f6f6),  
		to(#ccc)
	);
	-webkit-user-select: text;
}

#log span.fg47 {
	color: #666;
}

#log span.fg49 {
	color: #393;
}

#log span.bg48 {
}

#log span.bold {
	font-weight: bold;
}

#channels {
	margin: 0;
	padding: 0;
	width: 17em;
	position: absolute;
	overflow: auto;
	top: 0;
	left: 0;
	height: 100%;
}

#channels ul {
	font-size: 11pt;
	margin: 0;
	padding: 0;
	list-style: none;
}

#channels ul li {
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	font-weight: bold;
	text-shadow: 0 0 3px #000;  
	padding: 0.7em 1em;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #333;
}
