<!DOCTYPE html>
<html>
	<head>
		<title>Irssw</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<link rel="stylesheet" type="text/css" href="/css/app.css" media="screen,tv"/>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
		<script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="/js/app.js"></script>
	</head>
	<body>
		<div id="whole">
			<div id="input">
				<div>#twitter</div>
				<input type="text" size="50" />
			</div>
			<div id="log">
			</div>

			<div id="channels">
<ul>
	<li>#ぬそ</li>
	<li>#twitter</li>
	<li>#hogehoge</li>
</ul>
			</div>
		</div>
	</body>
</html>
