<!DOCTYPE html>
<html>
	<head>
		<title>Irssw</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<script type="text/javascript">
			User = {
				rks : '<?= $r->user->rks ?>'
			};
		</script>
		<? my $styles = [] ?>
		<? push @$styles, "/css/app.css" ?>
		<? if ($r->use_static_shared) { ?>
		<link rel="stylesheet" type="text/css" href="/.shared.css:<?= $r->version ?>:<?= join ',', @$styles ?>" media="screen,tv"/>
		<? } else { ?>
		<? for (@$styles) { ?>
		<link rel="stylesheet" type="text/css" href="<?= $_ ?>" media="screen,tv"/>
		<? } ?>
		<? } ?>
		<link rel="shortcut icon" href="/favicon.png" type="image/png"/>

		<? my $scripts = [] ?>
		<? push @$scripts, "/js/jquery-1.4.2.min.js" ?>
		<? push @$scripts, "/js/jsdeferred.jquery.js" ?>
		<? push @$scripts, "/js/gears_init.js" ?>
		<? push @$scripts, "/js/createElementFromString.js" ?>
		<? push @$scripts, "/js/getCurrentLocation.js" ?>
		<? push @$scripts, "/js/parseIRCMessage.js" ?>
		<? push @$scripts, "/js/location.js" ?>
		<? push @$scripts, "/js/app.js" ?>
		<? if ($r->use_static_shared) { ?>
		<script type="text/javascript" src="/.shared.js:<?= $r->version ?>:<?= join ',', @$scripts ?>"></script>
		<? } else { ?>
		<? for (@$scripts) { ?>
		<script type="text/javascript" src="<?= $_?>"></script>
		<? } ?>
		<? } ?>
	</head>
	<body>
		<div id="whole">
			<div id="input">
				<form>
					<div id="input-title"></div>
					<span class="text">
						<input type="text" size="50" id="input-text"/>
					</span>
					<input type="submit" value="Post"/>
				</form>
			</div>

			<div id="log">
			</div>

			<div id="channels">
				<ul>
				</ul>
			</div>

			<div id="loading" class="loading"><img src="/images/loading.gif"/></div>
			<div id="nextpage">More...</div>
		</div>
	</body>
</html>
