<!DOCTYPE html>
<html>
	<head>
		<title>Irssw</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<link rel="stylesheet" type="text/css" href="/css/app.css" media="screen,tv"/>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
		<script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="/js/jsdeferred.jquery.js"></script>
		<script type="text/javascript" src="/js/jquery.ba-hashchange.min.js"></script>
		<script type="text/javascript" src="/js/app.js"></script>
		<script type="text/javascript">
			User = {
				rks : '<?= $r->user->rks ?>'
			};
		</script>
	</head>
	<body>
		<div id="whole">
			<div id="input">
				<form>
					<div id="input-title"></div>
					<input type="text" size="50" id="input-text"/>
					<input type="submit" value="Post"/>
				</form>
			</div>

			<div id="log">
			</div>

			<div id="channels">
				<ul>
				</ul>
			</div>

			<div id="loading" class="loading"><img src="/images/loading.gif"/></div>
			<div id="nextpage">More...</div>
		</div>
	</body>
</html>
